.required::after {
    content: ' *';
    color: red;
}

body {
    font-size: 0.9rem !important;
}

@font-face {
    font-family: "bootstrap-icons";
    src: url("./fonts/bootstrap-icons.woff2?524846017b983fc8ded9325d94ed40f3") format("woff2"),
    url("./fonts/bootstrap-icons.woff?524846017b983fc8ded9325d94ed40f3") format("woff");
}

.sidebar .nav-item.dropdown .dropdown-toggle::after,
.topbar .nav-item.dropdown .dropdown-toggle::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: '\f231';
    font-family: bootstrap-icons;
}

.sidebar .nav-item.dropdown.show .dropdown-toggle::after,
.topbar .nav-item.dropdown.show .dropdown-toggle::after {
    content: '\f231';
    font-family: bootstrap-icons;
}

.sidebar #sidebarToggle::after {
    font-weight: 900;
    content: '\f22d';
    font-family: bootstrap-icons;
    margin-right: 0.1rem;
}

.sidebar.toggled #sidebarToggle::after {
    content: '\f231';
    font-family: bootstrap-icons;
    margin-left: 0.25rem;
}

@media (min-width: 768px) {
    .sidebar .nav-item .nav-link[data-toggle="collapse"]::after {
        width: 1rem;
        text-align: center;
        float: right;
        vertical-align: 0;
        border: 0;
        font-weight: 900;
        content: '\f229';
        font-family: bootstrap-icons !important;
    }

    .sidebar .nav-item .nav-link[data-toggle="collapse"].collapsed::after {
        content: '\f231';
    }
}
